body{
    font-family: 'Cabin', sans-serif;
    background-color: #F6F6F6;
}
hr{
    border: 1px solid;
}
#category-containerr{

    color:#858585;
    margin: 10px;
}
.news-type{
    text-align: center;
}
.card{
    padding: 10px;
}
.card-text{
    text-overflow: ellipsis;
    
    overflow:hidden;
    white-space: nowrap;
}